{{#*inline "contents"}}
    <h1>Field Details</h1>
    <table class="table table-striped table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Field</th>
            <th>Type</th>
            <th>Extra options</th>
        </tr>
        </thead>

        <tbody>
        {{#each this}}
            <tr>
                <td><a href="top_terms?field={{name}}">{{name}}</a></td>
                <td>{{value_type}}</td>
                <td>{{extra_options}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/inline}}
{{~> skeleton~}}