<label>
    Field:
    <select name={{name}}>
        {{#each fields}}
            <option value={{this.name}}>
                {{this.name}}
            </option>
        {{/each}}
    </select>
</label>
