{{#*inline "contents"}}
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary">
            Basic Functions
        </li>

        <li class="list-group-item">
            <h3>{{num_fields}} Fields in Index</h3>
            <a href="field_details" role="button" class="btn btn-primary">
                Detailed Field Information
            </a>
        </li>

        <li class="list-group-item">
            <h3>Overall Space Usage: {{pretty_bytes total_usage}}</h3>
            <a href="space_usage" role="button" class="btn btn-primary">
                Detailed Space Usage Information
            </a>
        </li>

        <li class="list-group-item list-group-item-secondary">
            Advanced Functions
        </li>

        <li class="list-group-item">
            <form action="top_terms">
                <h3>Top Terms</h3>
                <div class="form-row mb-3">
                    {{> field_picker fields=fields name="field" id="topTermsField" }}
                    <div class="col">
                        <label for="topTermsK">K</label>
                        <input type="number" class="form-control" name="k" id="topTermsK" value="100">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Top Terms</button>
            </form>
        </li>

        <li class="list-group-item">
            <form action="term_docs">
                <h3>Term Docs</h3>
                <div class="form-row mb-3">
                    {{> field_picker fields=fields name="field" id="termDocsField"}}
                    <div class="col">
                        <label for="termDocsTerm">Term</label>
                        <input type="text" class="form-control" name="term" id="termDocsTerm">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Term Docs</button>
            </form>
        </li>

        <li class="list-group-item">
            <form action="reconstruct">
                <h3>Reconstruct</h3>
                <div class="form-row mb-3">
                    {{> field_picker fields=fields name="field"}}
                </div>
                <div class="form-row mb-3">
                    {{> segment_picker segments=segments name="segment" id="reconstructSegment"}}
                    <div class="col">
                        <label for="reconstructDoc">Doc</label>
                        <input type="number" class="form-control" name="doc" id="reconstructDoc">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Reconstruct</button>
            </form>
        </li>
    </ul>
{{/inline}}
{{~> skeleton~}}