{{#*inline "contents"}}
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary">
            Basic Functions
        </li>

        <li class="list-group-item">
            <h3>{{num_fields}} Fields in Index</h3>
            <a href="field_details" role="button" class="btn btn-primary">
                Detailed Field Information
            </a>
        </li>

        <li class="list-group-item">
            <h3>Overall Space Usage: {{total_usage}} bytes</h3>
            <a href="space_usage" role="button" class="btn btn-primary">
                Detailed Space Usage Information
            </a>
        </li>

        <li class="list-group-item list-group-item-secondary">
            Advanced Functions
        </li>

        <li class="list-group-item">
            <form action="top_terms">
                Top Terms
                <br/>
                {{> field_picker fields=fields name="field" }}
                <label>
                    K:
                    <input type="number" name="k" value="100">
                </label>
                <input type="submit" value="Top Terms">
            </form>
        </li>

        <li class="list-group-item">
            <form action="term_docs">
                Term Docs
                <br/>
                {{> field_picker fields=fields name="field"}}
                <label>
                    Term:
                    <input type="text" name="term">
                </label>
                <input type="submit" value="Term Docs">
            </form>
        </li>

        <li class="list-group-item">
            <form action="reconstruct">
                Reconstruct
                <br/>
                {{> field_picker fields=fields name="field"}}
                {{> segment_picker segments=segments name="segment"}}
                <label>
                    Doc:
                    <input type="number" name="doc">
                </label>
                <input type="submit" value="Reconstruct">
            </form>
        </li>
    </ul>
{{/inline}}
{{~> skeleton~}}